@page
@model IndexModel
@{
    ViewData["Title"] = "Putting effort to become a dev";
}

<div class="text-center">
    <h1 class="display-4">natus vincere</h1>
    <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>
    <div class="movies-container">
        <a href="/Movies">chamando a funcao Movies</a>
    </div>
    <div class="cars-container">
    <a href="/Cars">chamando a funcao Cars</a>
</div>
</div>