@page
@model IndexModel
@{
    ViewData["Title"] = "My first app using aspnetcore";
}

<div class="text-center">
    <h1 class="display-4">Welcome soldier</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <p>chamando a funcao Movies</p>
        <a href="/Movies">Movies</a>
    </div>
    <div>
        <p>chamando a funcao Cars</p>
        <a href="/Cars">Cars</a>
    </div>
</div>