@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["ContactInfo"]</h3>

<p>
    Visit my GitHub: <a href="https://github.com/placebofx94">github.com/placebofx94 </a>
</p>
