@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Frederico Baranceli, 591<br />
    Pato Branco, PR 85503-357<br />
    <abbr title="Phone">Cellphone:</abbr>
    (46)99975-4934
</address>

<address>
    <strong>Support:</strong> <a href="mailto:samuelbartolomedi1994@gmail.com">samuelbartolomedi1994@gmail.com</a><br />
</address>
